.search_form {
  border-color: $color-shade-light;

  .search_input {
    background: transparent;
  }

  &:hover {
    border-color: $color-shade-lightest;
  }
}

.search_focused .search_form {
  border-color: $color-shade-lightest;
}

.search_clear_icon .ts_icon_times_circle {
  color: $color-highlight;
}

#search_spinner {
  color: $base-font-color;
}

#search_container {
  .search_input {
    background: transparent;
  }

  .icon_search {
    color: $color-highlight;
  }

  .icon_close {
    color: $base-link-color;
  }
}

#team_filter,
#user_group_filter,
.searchable_member_list_search_bar {
  .icon_search,
  .ts_icon_spinner {
    color: $color-highlight;
  }

  a.icon_close {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}
.c-search-autocomplete {
	background: $color-shade-dark;
}
.c-search__input_box {
	background: $color-shade-dark;
	border-color: $color-shade-dark;
	color: $base-font-color;
}
.c-search__input_and_close__close {
	background: $color-shade-dark;
	border-color: $color-shade-dark;
	color: $base-font-color;
}
.c-search_autocomplete__suggestion_list {
	background: $color-shade-dark;
	border-color: $color-shade-dark;
	color: $color-highlight;
}
.c-search_autocomplete__suggestion_item {
	color: $color-highlight;
}
.c-search_autocomplete footer {
	background: $color-shade-light;
	border-color: $color-shade-dark;
	color: $base-font-color;
}
.c-search_modal .ql-container.texty_single_line_input {
	background: $color-shade-dark;
	border-color: $color-shade-dark;
	color: $base-font-color;
}
